/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2d2b2d;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.section {
    padding-top: 50px;
}

input, button {
    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

.input-block {
    display: flex;
    margin-bottom: 40px;
}